<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12"><hr></div>
      <div class="col-xs-12 col-sm-4">
        <h3>BRAND</h3>
        <h5>Morbi feugiat est sit amet maximus suscipit. Nam vel euismod diam, sed iaculis odio. Nunc laoreet consequat dolor non pellentesque.</h5>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h4>RECENT NEWS</h4>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h4>INSTAGRAM</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        &copy; 2017 | All rights reserved
      </div>
    </div>
  </div>
</footer>

<script src="js/main.js"></script>
</body>
</html>
