<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <hr class="featurette-divider">
        <h3>BRAND</h3>
        <div class="row">
          <div class="col-md-8 push-md-2 text-center">
            <h6>Morbi feugiat est sit amet maximus suscipit. Nam vel euismod diam, sed iaculis odio. Nunc laoreet consequat dolor non pellentesque.</h6>
          </div>
        </div>
        <small>&copy; 2017 | All rights reserved</small>
      </div>
    </div>
  </div>
</footer>

<script src="js/main.js"></script>
</body>
</html>
