$black: #000000;
$white: #FFFFFF;
$liteblue: lightblue;
$hColor: #333333;
$subHColor: #555555;
$pColor:#666666;

$fontRaleway : 'Raleway', sans-serif;

$hFontSize:(
  h1:36px,
  h2:32px,
  h3:28px,
  h4:24px,
  h5:22px,
  h6:20px
);
$pFontSize:16px;
