@import "variables";
@import "typography";
body{
  padding: 0;
  margin: 0 auto;
  background-color: $white;
}
.margin-top-50px{
  margin-top: 50px
}
.margin-bottom-15px{
  margin-bottom: 15px
}
.margin-bottom-60px{
  margin-bottom: 60px
}
.navbar{
  margin-bottom: 0;
  border-radius: 0;
}
.carousel .carousel-item{
  height: 450px;
  background-size: cover;
  background-position: center center
}
.featurette-divider{
  margin: 3rem 0
}
footer{
  padding-bottom: 30px
}
